@mixin lunch-textfield {

  .lunch-textfield {
    width: 150px;
    height: 30px;

    background: transparent;
    font-size: 14px;
    border: 0;
    outline: none;
    color: white;
    padding: 5px;
  }

}