@mixin va-middle {

  .va-middle {
    font-size: 0;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    & > * {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
      float: none;
    }
  }

}